{% extends 'pyxiebob/_master.html' %}
{% load staticfiles %}

{% block head %}
    <title>Pyxie Bob</title>
{% endblock %}

{% block body %}
    <h2>Pyxie Bob</h2>
<ul>
    <p>
        Pyxie Bob is a brand new programmable device that gets you writing computer code.
        Simply write your code or edit other peoples and download it to your
        PyxieBob.
        Watch the LEDs light up and your PyxieBob come to life.
    </P>
    <p>
        Now you can start getting really creative, share code and amaze your friends.
        You can show off everything you create!
    </p>
<div style="width:50%; float:right">
    <p><img src="{% static 'pyxiebob/img/postcard_640.jpg' %}"
            style="display:block;margin-left:auto;margin-right:auto;float:rightj" alt="">
</div>
</ul>

    <h3> 23 Jan 2015 - Windows 8 Installation </h3>
<ul>
    <p> Hi! Some people have asked for help in getting the Pyxie Bob loader
    running on their Windows 8 machines. To help with this we've created
    an installer page, with screenshots, showing you precisely how we get
    the pyxiebob software installed on Windows 8. If you need a helping hand,
    please take a look!
    <P><a href="/downloads/Windows_Installation_Notes/">Windows Installation Notes </a>
</ul>

    <h3>22 Jan 2015 - Downloads</h3>
<ul>
    <P> In the <a href="/downloads/">downloads area</a> of the site you will find
    <a href="/downloads/Session_Plans/">lots of help</a> for making your own programs,
    <a href="/downloads/FAQ/">FAQs to answer specific questions</a> as well as the
    loader you need for loading your programs onto your Pyxie Bob at home!
</ul>    
<h3> 28 Jan 2015 - This week's featured programs </h3>

<p> Bit early this week, but we're seeing some cool things and wanted to
share them with you. Remember you can combine the ideas you see here into
your own programs. What's the longest program you can write? A story? A
game? Something sleepy? Something fast? 
<P> Anyway, these are really great, take a look - I bet you can do better!
<ul>
<P> I Love Coding <a href="http://pyxiebob.iotoy.org/pyxiebob/program/1549"> http://pyxiebob.iotoy.org/pyxiebob/program/1549</a>
<P> Rotation  <a href="http://pyxiebob.iotoy.org/pyxiebob/program/1661"> http://pyxiebob.iotoy.org/pyxiebob/program/1661</a>
<P> Swirl Pop  <a href="http://pyxiebob.iotoy.org/pyxiebob/program/1008"> http://pyxiebob.iotoy.org/pyxiebob/program/1008</a>
<P> Amazing Bouncy Thing  <a href="http://pyxiebob.iotoy.org/pyxiebob/program/1596"> http://pyxiebob.iotoy.org/pyxiebob/program/1596</a>
<P> The Valentine of the Pyxie Bob  <a href="http://pyxiebob.iotoy.org/pyxiebob/program/1526"> http://pyxiebob.iotoy.org/pyxiebob/program/1526</a>
<P> Smiley H  <a href="http://pyxiebob.iotoy.org/pyxiebob/program/1583"> http://pyxiebob.iotoy.org/pyxiebob/program/1583</a>
<P> Wink  <a href="http://pyxiebob.iotoy.org/pyxiebob/program/1579">http://pyxiebob.iotoy.org/pyxiebob/program/1579</a>
<P> Seahorse 1  <a href="http://pyxiebob.iotoy.org/pyxiebob/program/1664">http://pyxiebob.iotoy.org/pyxiebob/program/1664</a>
<P> Love the PyxieBobs  <a href="http://pyxiebob.iotoy.org/pyxiebob/program/1052">http://pyxiebob.iotoy.org/pyxiebob/program/1052</a>
<P> Count 1 to 50 in Steps of 3  <a href="http://pyxiebob.iotoy.org/pyxiebob/program/1075">http://pyxiebob.iotoy.org/pyxiebob/program/1075</a>
</ul>


    <h3>23 Jan 2015 - This week's featured programs </h3>
    
    <P> Well, we promised we'd have a fresh list, and you've all been
    creating some amazing, fun things. These are the ones that have caught
    our eye this week. Some has stayed the same, some have changed.
    
    <P>Will your program be featured next week?
    
<ul>
<p>I Love Friday <a href="http://pyxiebob.iotoy.org/pyxiebob/program/1299/"> http://pyxiebob.iotoy.org/pyxiebob/program/1299/</a>
<P>Scrolling by Kushal <a href="http://pyxiebob.iotoy.org/pyxiebob/program/1423/"> http://pyxiebob.iotoy.org/pyxiebob/program/1423/</a>
<P>Sam’s Happy Face <a href="http://pyxiebob.iotoy.org/pyxiebob/program/1382/"> http://pyxiebob.iotoy.org/pyxiebob/program/1382/</a>
<P>Tick and Cross  <a href="http://pyxiebob.iotoy.org/pyxiebob/program/1281"> http://pyxiebob.iotoy.org/pyxiebob/program/1281</a>
<P>Lucy  <a href="http://pyxiebob.iotoy.org/pyxiebob/program/335"> http://pyxiebob.iotoy.org/pyxiebob/program/335</a>
<P>Jumping Cat <a href="http://pyxiebob.iotoy.org/pyxiebob/program/635"> http://pyxiebob.iotoy.org/pyxiebob/program/635</a>
<P>Countdown Blast Off <a href="http://pyxiebob.iotoy.org/pyxiebob/program/94"> http://pyxiebob.iotoy.org/pyxiebob/program/94</a>
<P>Happy Bear <a href="http://pyxiebob.iotoy.org/pyxiebob/program/786"> http://pyxiebob.iotoy.org/pyxiebob/program/786</a>
<P>Rock, Paper, Scissors <a href="http://pyxiebob.iotoy.org/pyxiebob/program/758"> http://pyxiebob.iotoy.org/pyxiebob/program/758</a>
<P>The Story of the Pizza <a href="http://pyxiebob.iotoy.org/pyxiebob/program/900">http://pyxiebob.iotoy.org/pyxiebob/program/900</a>

</ul>    


    <h3>16 Jan 2015 - This week's featured programs</h3>
<ul>
    <p>Check out some of the great programs created this week! Can you create a
       program like these? Will your program be featured next week?

    <p>Jumping Cat <a href='http://pyxiebob.iotoy.org/pyxiebob/program/635'> http://pyxiebob.iotoy.org/pyxiebob/program/635</a>
    <p>Countdown Blast Off <a href='http://pyxiebob.iotoy.org/pyxiebob/program/94'> http://pyxiebob.iotoy.org/pyxiebob/program/94</a>
    <p>PyxieBobs rule <a href='http://pyxiebob.iotoy.org/pyxiebob/program/533'> http://pyxiebob.iotoy.org/pyxiebob/program/533</a>
    <p>Happy Bear <a href='http://pyxiebob.iotoy.org/pyxiebob/program/786'> http://pyxiebob.iotoy.org/pyxiebob/program/786</a>
    <p>Rock, Paper, Scissors <a href='http://pyxiebob.iotoy.org/pyxiebob/program/758'> http://pyxiebob.iotoy.org/pyxiebob/program/758</a>
    <p>Star and Heart <a href='http://pyxiebob.iotoy.org/pyxiebob/program/849'> http://pyxiebob.iotoy.org/pyxiebob/program/849</a>
    <p>The Story of the Pizza <a href='http://pyxiebob.iotoy.org/pyxiebob/program/900'> http://pyxiebob.iotoy.org/pyxiebob/program/900</a>
    <p>I Love Food <a href='http://pyxiebob.iotoy.org/pyxiebob/program/829'> http://pyxiebob.iotoy.org/pyxiebob/program/829</a>
    <p>I Love Sport <a href='http://pyxiebob.iotoy.org/pyxiebob/program/546'> http://pyxiebob.iotoy.org/pyxiebob/program/546</a>
    <p>Firework Simulation <a href='http://pyxiebob.iotoy.org/pyxiebob/program/901'> http://pyxiebob.iotoy.org/pyxiebob/program/901</a>
</ul>
<!--    <h2>5 Jan 2015 - Welcome to Pyxie Bob!</h2>
<ul>
    <p><img src="{% static 'pyxiebob/img/postcard_640.jpg' %}" style="display:block;margin-left:auto;margin-right:auto" alt="">
</ul>
-->
    <p>
        If you do not have an account then
        <a href="{% url 'pyxiebob:create_user_form' %}">Create a new account</a>.
    </p>
{% endblock %}